@import ../colors.css;

@define-color primary #fe8019;
@define-color text #fbf1c7;
@define-color background #282828;
@define-color alert #fb4934;
@define-color disabled #fabd2f;


.primarycolored {
    color: @primary;
}

window#waybar {
    background: @background;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 0;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}


#workspaces button {
    border-radius: 0;
    padding: 4px 7px;
    color: @text;
}

#workspaces button.focused {
    background-color: @primary;
}

#workspaces button.active {
    background-color: @primary;
}

#workspaces button.urgent {
    background-color: @alert;
}

#window {
    border-left: 1px solid rgba(255,255,255,0.1); 
    margin-left: 8px;
    padding-left: 8px;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

#clock {
    border-right: none;

}
/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

