
@define-color background #0f141a;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #2c3137;

@define-color inverse_primary #5b6313;

@define-color inverse_surface #dfe3eb;

@define-color on_background #dfe3eb;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #2e3300;

@define-color on_primary_container #dfea8b;

@define-color on_primary_fixed #1a1e00;

@define-color on_primary_fixed_variant #434b00;

@define-color on_secondary #402843;

@define-color on_secondary_container #fcd7fb;

@define-color on_secondary_fixed #2a132d;

@define-color on_secondary_fixed_variant #583e5a;

@define-color on_surface #dfe3eb;

@define-color on_surface_variant #bec7d5;

@define-color on_tertiary #023256;

@define-color on_tertiary_container #d0e4ff;

@define-color on_tertiary_fixed #001d35;

@define-color on_tertiary_fixed_variant #22496e;

@define-color outline #89919e;

@define-color outline_variant #3f4753;

@define-color primary #c3cd72;

@define-color primary_container #434b00;

@define-color primary_fixed #dfea8b;

@define-color primary_fixed_dim #c3cd72;

@define-color scrim #000000;

@define-color secondary #dfbbde;

@define-color secondary_container #583e5a;

@define-color secondary_fixed #fcd7fb;

@define-color secondary_fixed_dim #dfbbde;

@define-color shadow #000000;

@define-color source_color #357294;

@define-color surface #0f141a;

@define-color surface_bright #353a40;

@define-color surface_container #1b2026;

@define-color surface_container_high #262a31;

@define-color surface_container_highest #30353c;

@define-color surface_container_low #171c22;

@define-color surface_container_lowest #0a0f14;

@define-color surface_dim #0f141a;

@define-color surface_tint #c3cd72;

@define-color surface_variant #3f4753;

@define-color tertiary #a5caf5;

@define-color tertiary_container #22496e;

@define-color tertiary_fixed #d0e4ff;

@define-color tertiary_fixed_dim #a5caf5;

