
@define-color background #1d100c;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #3c2d28;

@define-color inverse_primary #ae3100;

@define-color inverse_surface #f7ddd6;

@define-color on_background #f7ddd6;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #5e1700;

@define-color on_primary_container #000000;

@define-color on_primary_fixed #3a0a00;

@define-color on_primary_fixed_variant #852400;

@define-color on_secondary #591c08;

@define-color on_secondary_container #ffddd3;

@define-color on_secondary_fixed #3a0a00;

@define-color on_secondary_fixed_variant #76321c;

@define-color on_surface #f7ddd6;

@define-color on_surface_variant #e2bfb5;

@define-color on_tertiary #3c2f00;

@define-color on_tertiary_container #292000;

@define-color on_tertiary_fixed #231b00;

@define-color on_tertiary_fixed_variant #564500;

@define-color outline #a98a81;

@define-color outline_variant #5a413a;

@define-color primary #ffb59f;

@define-color primary_container #f56131;

@define-color primary_fixed #ffdbd0;

@define-color primary_fixed_dim #ffb59f;

@define-color scrim #000000;

@define-color secondary #ffb59f;

@define-color secondary_container #79341e;

@define-color secondary_fixed #ffdbd0;

@define-color secondary_fixed_dim #ffb59f;

@define-color shadow #000000;

@define-color source_color #f36030;

@define-color surface #1d100c;

@define-color surface_bright #463531;

@define-color surface_container #2a1c18;

@define-color surface_container_high #362622;

@define-color surface_container_highest #41312c;

@define-color surface_container_low #261814;

@define-color surface_container_lowest #170b08;

@define-color surface_dim #1d100c;

@define-color surface_tint #ffb59f;

@define-color surface_variant #5a413a;

@define-color tertiary #e9c343;

@define-color tertiary_container #cba828;

@define-color tertiary_fixed #ffe082;

@define-color tertiary_fixed_dim #e8c343;

