
@define-color background #141318;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #313035;

@define-color inverse_primary #5e559e;

@define-color inverse_surface #e5e1e8;

@define-color on_background #e5e1e8;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #2f256c;

@define-color on_primary_container #ffffff;

@define-color on_primary_fixed #190a57;

@define-color on_primary_fixed_variant #463c84;

@define-color on_secondary #302d49;

@define-color on_secondary_container #e2dcff;

@define-color on_secondary_fixed #1b1833;

@define-color on_secondary_fixed_variant #474361;

@define-color on_surface #e5e1e8;

@define-color on_surface_variant #c9c4d2;

@define-color on_tertiary #551746;

@define-color on_tertiary_container #ffffff;

@define-color on_tertiary_fixed #3b002f;

@define-color on_tertiary_fixed_variant #702e5e;

@define-color outline #928f9b;

@define-color outline_variant #474550;

@define-color primary #c7bfff;

@define-color primary_container #645ba5;

@define-color primary_fixed #e5deff;

@define-color primary_fixed_dim #c7bfff;

@define-color scrim #000000;

@define-color secondary #c8c2e6;

@define-color secondary_container #474361;

@define-color secondary_fixed #e5deff;

@define-color secondary_fixed_dim #c8c2e6;

@define-color shadow #000000;

@define-color source_color #645ba5;

@define-color surface #141318;

@define-color surface_bright #3a383e;

@define-color surface_container #201f24;

@define-color surface_container_high #2a292e;

@define-color surface_container_highest #353439;

@define-color surface_container_low #1c1b20;

@define-color surface_container_lowest #0e0e12;

@define-color surface_dim #141318;

@define-color surface_tint #c7bfff;

@define-color surface_variant #474550;

@define-color tertiary #ffade1;

@define-color tertiary_container #934c7d;

@define-color tertiary_fixed #ffd8ed;

@define-color tertiary_fixed_dim #ffade1;

