@import 'colors.css';

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @background;
  padding: 20px;
  border-radius: 20px;
  border: 0.5px solid @outline;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @on_background;
}

.box {
}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: @primary;
}

.input {
  caret-color: @on_background;
  background: lighter(@surface);
  padding: 10px;
  color: @on_background;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @on_background;
}

child {
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@primary, 0.25);
  border-radius: 5px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@primary, 0.25);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@primary_container, 0.25);
  /* padding: 10px; */
  border-radius: 10px;
  color: @on_background;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid lighter(@background);
  font-size: 12px;
  opacity: 0.5;
  color: @on_background;
}

.keybinds {
}

.keybind {
}

.keybind-bind {
  /* color: lighter(@window_bg_color); */
  font-weight: bold;
  text-transform: lowercase;
}

.keybind-label {
}

.error {
  padding: 10px;
  background: @error;
  color: @on_error;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs {
  font-family: monospace;
}
