configuration{
    modi: "drun,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 🏃  Run ";
    display-run: " 🏃  Run (all) ";
    display-window: " 🪟  Window ";
    sidebar-mode: true;
}

@theme "catppuccin"
