@import './colors.css';

* {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 13px;
    min-height: 20px;
    font-weight: normal;
}

.primarycolored {
    color: @primary;
}

window#waybar {
    background: rgba(0, 0, 0, 0.1);
    color: @on_background;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}


#workspaces button {
		margin: 5px 2px;
    border-radius: 50px;
    padding: 1px 7px;
		background: alpha(@surface, 0.1);
    color: @on_surface;
}

#workspaces button.focused {
    background-color: @primary;
    color: @on_primary;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
		min-width: 30px;
		transition-property: all;
		transition-duration: 0.1s;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_alert;
}

#window {
    margin-left: 8px;
    padding-left: 8px;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    border-right: none;

}
/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

